{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />
<f:section name="Content">
<style type="text/css">
.neos .neos-row-fluid {
  padding: 5px 0;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#pitTranslationHelperTranlationFilesPageLink").show();
});

</script>

<div class="neos-row-fluid">
  <fieldset class="neos-span11">
    <legend>{packageKey} <f:translate id="translationFiles" locale="{localeIndicator}" package="Neos.Neos">Translation Files</f:translate></legend>
    <div class="neos-control-group">

      <table class="neos-table">
        <thead>
          <tr>
            <th>
              <f:translate id="translationFile" locale="{localeIndicator}" package="Neos.Neos">Translation File</f:translate>
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <f:if condition="{packageTranslationFilesSize}>0">
            <f:then>
                <f:for each="{packageTranslationFiles}" as="packageTranslationFile">
                  <tr>
                    <td>{packageTranslationFile}</td>
                    <td>
                      <f:link.action controller="Standard" action="redirect" data="{neos-toggle:'tooltip',original-title:'View Translations'}" arguments="{input:packageTranslationFile,from:'translationFile'}" class="neos-button neos-button-primary">
                        <i class="icon-info-sign icon-white"></i>
                      </f:link.action>
                    </td>
                  </tr>
                </f:for>
            </f:then>
          </f:if>
        </tbody>
      </table>

    </div>

  </fieldset>
</div>

</f:section>
