{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />
<f:section name="Content">
<style type="text/css">
.neos .neos-row-fluid {
  padding: 5px 0;
}
</style>
<div class="neos-row-fluid">

    <div class="neos-row-fluid">

      <table class="neos-table">
        <thead>
          <tr>
            <th>
              <f:translate id="packages.key" source="Modules" locale="{localeIndicator}" package="Neos.Neos">Package</f:translate>
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <f:if condition="{activePackagesSize}>0">
            <f:then>
                <f:for each="{activePackages}" as="activePackage">
                  <tr>
                    <td>{activePackage}</td>
                    <td>
                      <f:link.action controller="Standard" action="redirect" data="{neos-toggle:'tooltip',original-title:'View Translation files'}" arguments="{input:activePackage,from:'packageKey'}" class="neos-button neos-button-primary">
                        <i class="icon-info-sign icon-white"></i>
                      </f:link.action>
                    </td>
                  </tr>
                </f:for>
            </f:then>
            <f:else>
              <f:if condition="{translatedLanguagesSize}<1">
                <f:then>
                  <tr>
                    <td colspan="2">Please configure language dimension in site's Settings.yaml file.</td>
                  </tr>
                </f:then>
                <f:else>
                <tr>
                  <td colspan="2">No Data</td>
                </tr>
                </f:else>
              </f:if>
            </f:else>
          </f:if>
        </tbody>
      </table>

    </div>

  </div>

</f:section>
